<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
</head>
<style>
    body {
        background: url('/images/2.jpg')
    }
</style>

<body>
    <center>
        <h1>CAAMA</h1>
        <h3>Compendio de Actividades de Aprendizaje del Medio Ambiente</h3>
        <a href="/puzzle"><img src="./images/3R.jpg" alt="" width="300px" height="300px"></a>
        <a href="/soup"><img src="./images/sopas.png" alt="" width="300px" height="300px"></a>
        <a href="/tile"><img src="./images/info.jpg" alt="" width="300px" height="300px"></a>
    </center>

</body>

</html>