<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Formulario</title>

</head>

<body background="img/4.jpg">
    <center><img src="img/logo.png"></center>
    <div id="contenedor2">
        <div id="registro4">
            <div id="registro2">
                <p class="uno">Nombre:<Input type="text" class="uno" id="nombreNuevo"></Input></p> <br>
                <p class="uno">Apellido:<Input type="text" class="uno" id="apellidoNuevo"></Input></p> <br>
                <p class="uno">Edad:<Input type="number" class="uno" id="edadNueva"></Input></p> <br>
            </div>
            <div id="registro3">
                <p class="uno">Alias:<Input type="text" class="uno" id="aliasNueva"></Input></p> <br>
                <p class="uno">Correo electronico:<Input type="text" class="uno" id="correoNuevo"></Input></p> <br>
                <p class="uno">Contraseña:<Input type="password" class="uno" id="contraseñaNueva"></Input></p>

            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <input type="button" value="Registrarse" id="ingresar2" class="boton3" >
        </div>

    </div>
</body>
<script src="js/nuevosUsuarios.js   "></script>
</html>