<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../login/css/estilo.css">
    <title>Bienvenidos</title>
</head>

<body background="../login/img/1.jpg">
    <center><img src="../login/img/logo.png"></center>
    <div id="contenedor">
        <div id="login">
            <!-- <p>Como deseas Iniciar Sesión:</p> -->
            <!-- <div class="boton"><a href="../login/index2.html">ADMIN</a></div> -->
            <div class="boton"><a href="../login/index3.html">INVITADO</a></div>
        </div>
    </div>

</body>

</html>