<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo2.css">
    <title>Juegos</title>
</head>
<body background="img/5.jpg">
    <h1>El Cuidado de Nuestro Medio Ambiente esta en Ti</h1>
    <h2>Diviertete</h2>
    <p> <strong> Intrucciones: <br> Selecciona con un CLICK el juego en el que deseas participar </strong></p>
    <div id="contenedorJuegos">
    <div id="juegoUno">
        <img src="img/sopa.png" id="juegoSopa">
    </div>
    <div id="juegoDos"></div>
    <div id="juegoTres"></div>
</div>
</body>
<script src="js/abrirJuegos.js"></script>
</html>