<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../login/css/estilo.css">
    <title>Iniciar Sesion</title>
</head>

<body background="../login/img/2.jpg">
    <div id="contenedor2">
        <div id="registro">
            <form action="../../cosa.js" method="get">
                <p class="uno">Usuario:
                    <Input type="text" class="uno" id="nombre"></Input>
                </p> <br><br>
                <p class="uno">Contraseña:
                    <Input type="password" class="uno" id="contraseña"></Input>
                </p> <br><br>
                <input type="button" value="Ingresar" id="ingresar" class="boton2">
                <a href="../login/index.html"> <strong> Regresar</strong></a>
            </form>
        </div>

    </div>

</body>
<script src="../login/js/main.js"></script>

</html>